*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
/* class dung chung cho 1 hang co 3 cot */
.col-third{
    width: 33.3333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
/* Main */
#main{

}
#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#nav{
    display: inline-block;
}
#nav > li{
    display: inline-block;
}
#nav li{
    display: inline-block;
    position: relative;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li > a{
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    text-transform: uppercase;
    font-size: 15px;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    background-color: #ccc;
    color: #000;
}
#nav .subnav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0,0,0,0.5);
}
#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    list-style: none;
    text-decoration: none;
    min-width: 160px;
    display: block;
}
.nav_down_more{
    font-size: 15px;
    position: absolute;
    top: 13px;
    padding-left: 4px;
}
#header .search_btn{
    float: right;
    line-height: 46px;
    padding: 0 24px;
}
#header .search_btn:hover{
    background-color: #f00;
    cursor: pointer;
}
#header .search_btn .search-icon{
    color: #fff;
    font-size: 14px;
}
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/Code Web/Thực hành 1 - The Band/assets/img/slider1.jpg') top center / cover no-repeat;
}
#slider .text_content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text_heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text_description{
    margin-top: 25px;
    font-size: 15px;
}
#content{
    
}
#content .section-content{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    margin-bottom: 20px;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text{
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
}
#content .members-list{
    margin-top: 48px;
}
#content .member-item{
    float: left;
    width: 33.33333%;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}
.tour-section{
    background-color: #000;
    
}
.tour-section .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-list li{
    color: #757575;
    font-size: 15px;
    padding: 10px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;
}
.tickets-list .sold-out{
    margin-left: 16px !important;
    background-color: #f44336;
    padding: 3px 8px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    color: #fff;
    
}
.tickets-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    padding: 4px;
    border-radius: 50%;
    color: #fff;
    margin-right: 16px;
    text-align: center;
    margin-top: -3px;
}
.tour-tickets{
    margin-top: 32px;

}
.text-tickets{
    background-color: #fff;
    padding: 16px;
}
.place-tickets-img{
    width: 100%;
    display: block;
}
.place-tickets-img:hover{
    opacity: 0.6;
}
.place-tickets-para{
    padding-bottom: 16px;
    font-size: 15px;
    font-weight: 700;
}
.datetime-tickets{
    padding-bottom: 16px;
    opacity: 0.6;
    font-size: 15px;
}
.about-tickets{
    padding-bottom: 16px;
    font-size: 15px;
}
.buy-button{
    background-color: #000;
    color: #fff;
    width: 108px;
    height: 38px;
    font-size: 15px;
}
.buy-button:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
    border: none;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
.socials-list a{
    text-decoration: none;
    color: #6e6e6e;
    padding-left: 3px;
}
.socials-list i{
    font-size: 24px;
}
.socials-list a:hover{
    opacity: 0.5;
    cursor: pointer;
}
.copyright{
    font-size: 15px;
    color: #6e6e6e;
    margin-top: 15px;
}
.copyright a{
    color: #6e6e6e;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-container{
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalIn ease 0.45s;
}
.modal-header{
    background-color: #009688;
    color: #fff;
    display: flex;
    height: 130px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.modal-bag{
    margin-right: 16px;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    font-size: 24px;
    opacity: 0.9;
    cursor: pointer;
}
.modal-close:hover{
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}
.modal-body{
    padding: 24px 16px 16px 16px;
}
.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}
.modal-input{
    border: 1px solid #ccc; 
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}
.buy-tickets-pay{
    width: 100%;
    border: none;
    color: #fff;
    background-color: #009688;
    text-transform: uppercase;
    padding: 15px;
}
.buy-tickets-pay:hover{
    background-color: #007d6f;
    cursor: pointer;
}
.modal-footer{
    text-align: right;
    padding: 16px;
}
.modal-footer .modal-help{
    color: #2196f3;
}
.modal.open{
    display: flex;
}
@keyframes modalIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-content{
    margin-top: 48px;
}
.contact-infor{
    font-size: 18px;
    line-height: 1.6;
}
.contact-infor i[class*="fas fa"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 14px;
    width: 100%;
    border: 1px solid #ccc;
}
.row-message{
    margin-top: 8px;
    margin-bottom: 16px;
}
.btn-submit{
    float: right;
    font-size: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #000;
    color: #fff;
}
.btn-submit:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
